<% if @player1_name == "" && @player2_name == "" %>

  <p>You didn't enter the names properly! Try again</p>


<% else %>

  <p>Player 1 is called <%= @player1_name %> </p>
  <p>Player 2 is called <%= @player2_name %> </p>


<% end %>
