<% if @player1_name == "" && @player2_name == "" %>

  <p>You didn't enter the names properly! Try again</p>


<% else %>

  <p>Player 1 is called <%= @player1_name %> </p>
  <p>Player 2 is called <%= @player2_name %> </p>
  <p>Player 1 hit points: <%= @player1_hit_points %> HP </p>
  <p>Player 2 hit points: <%= @player2_hit_points %> HP </p>



<% end %>
